.TodoTemplate{
  width: 500px;
  margin: 6rem auto 0;
  /* border: 2px solid #0087c5; */
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.TodoTemplate .app-title{
  background: #F0BEEF;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
}

.TodoTemplate .app-count{
  font-size: 1rem;
}
.TodoTemplate .app-content{
  background: rgba(255,255,255, 0.5);
  padding-bottom: 0.5rem;
}
.clear-btn {
  font-size: 1rem;
  text-align: center;
  color: #000;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont,'Noto Sans KR', sans-serif;
}