.TodoTemplate {
  width: 512px;
  margin: 6rem auto 0 auto;
  border-radius: 4px;
  overflow: hidden;
}
.app-title {
  background: #9c88ff;
  color: white;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  background: white;
}
.TodoInsert {
  display: flex;
  background: #495057;
  input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: white;
    &::placeholder {
      color: #dee2e6;
    }
  }
  button {
    background: none;
    outline: none;
    border: none;
    background: #868e96;
    color: white;
    padding: 0 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s background ease-in;
    &:hover {
      background: #adb5bd;
    }
  }
}
.TodoList {
  padding: 0;
  border:1px solid #999;
  background:#f8f9fa;
}
.TodoListItem {
  padding: 1rem;
  display: flex;
  align-items: center;
  &:nth-child(even) {
    background-color: #e9ecef;
  }
  button {
    border:none;
    background:transparent;
  }
}
.checkbox {
  flex: 1;
  position:relative;
  padding-left:20px;
  text-align:left;
  cursor: pointer;
  &.checked {
    color: #adb5bd;
    text-decoration: line-through;
  }
  .checked-on {
    position:absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
  }
}
.edit {
  margin-right:10px;
  cursor: pointer;
}
.remove {
  color: #e84118;
  cursor: pointer;
  &:hover {
    color: #ff7f5f;
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.548);
}
.todoedit__insert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  padding:0 30px 20px ;
  background-color: white;
  transform: translate(-50%, -50%);
  box-sizing:border-box;
  .todoedit__cont {
    display:flex;
    flex-direction:column;
  }
  h2 {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 0.5rem;
    background-color: #9c88ff;
    color: white;
  }
  input {
    margin: 2rem 0;
    padding: 0.3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #9c88ff;
  }
  button {
    cursor: pointer;
    background-color: #9c88ff;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
  }
}